pillow~=7.1.2
scikit-learn~=1.1.1
cleverhans~=4.0.0
foolbox~=3.3.3
argparse~=1.4.0
eagerpy~=0.30.0
scipy~=1.8.1
PyWavelets
timm
psutil
pynvml
alibabacloud_imagerecog20190930
huaweicloudsdkcore
huaweicloudsdkimage
tencentcloud-sdk-python
scikit-image